html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #000000;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}

.trending-title, .recommendation-title, .find-your-dream-destination-title {
    color: #27ae60;
}

#wrapper-index, #wrapper-about, #wrapper-blog {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content; /* Set to auto for dynamic height based on content */
    height: 100vh;
    width: calc(100vw - 16px);
}

.fa-user, .fa-address-card, .nav-link-text, .company-name, .fa-house {
    color: #000000;
    font-weight: 900;
}


.header-container {
    grid-column: span 6;
    grid-row: 1;
    display: grid;
    align-items: center;
    width: calc(100vw - 10.0001px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure the header is on top of other elements */
    grid-template-columns: repeat(2, 1fr);
    background-color: #27ae60;
}

.nav-title {
    text-align: left;
    margin: 15px 0px 15px 40px;
}

.nav-links {
    text-align: right;
    margin-right: 30px;
}

.nav-link-1,
.nav-link-2 {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
}

.nav-link-1:hover .fa-user,
.nav-link-1:hover .fa-address-card,
.nav-link-1:hover .nav-link-text,
.nav-link-2:hover .fa-user,
.nav-link-2:hover .fa-address-card,
.nav-link-2:hover .nav-link-text,
.nav-link-3:hover .fa-user,
.nav-link-3:hover .fa-address-card,
.nav-link-4:hover .fa-house {
    color: white;
}

/* 
Trending section
*/

.trending-title {
    grid-column: 1 / span 3;
    grid-row: 2;
    text-align: left;
    margin: 90px 0px 20px 40px;
}

.trending-img-1 {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    position: relative;
    text-align: center;

}

.trending-img-2 {
    grid-column: span 2 / span 4;
    grid-row: 3;
    display: grid;
    position: relative;
    text-align: center;
    
}

.trending-img-3 {
    grid-column: span 4 / span 6;
    grid-row: 3;    
    display: grid;
    position: relative;
    text-align: center;
}

.images-card-layout {
    width: 80%;
    height: 95%;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
}

.image-text {
    position: absolute;
    bottom: 15%; /* Align the text to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* 
Recommendation section
*/

.recommendation-title {
    grid-column: 1 / span 3;
    grid-row: 4;
    text-align: left;
    margin: 30px 0px 30px 40px;
}

.recommendation-img-1 {
    grid-column: 1 / span 2;
    grid-row: 5;
    display: grid;
    position: relative;
    text-align: center;
}

.recommendation-img-2 {
    grid-column: span 2 / span 4;
    grid-row: 5;
    display: grid;
    position: relative;
    text-align: center;
}

.recommendation-img-3 {
    grid-column: span 4 / span 6;
    grid-row: 5;
    display: grid;
    position: relative;
    text-align: center;
}

/*
How to find your dream destination
*/

.find-your-dream-destination-title {
    grid-column: 1 / span 3;
    grid-row: 6;
    text-align: left;
    margin: 30px 0px 30px 40px;
}

.find-your-dream-destination-p1 {
    grid-column: 1 / span 3;
    grid-row: 7;
    margin: 0 30px 30px 40px;
    color: #ffffff;
}

.find-your-dream-destination-p2 {
    grid-column: span 3 / span 6;
    grid-row: 7;
    margin: 0 30px 30px 40px;
    color: #ffffff;
}

.footer {
    grid-column: span 6;
    justify-content: center;
    text-align: center;
    grid-row: 8;
    color: #ffffff;
    background-color: #27ae60;
    padding: 25px 0 25px 0;
}


/* History page */
.nav-links-history {
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px; /* Adjust margin as needed */
}

.nav-link-3,
.nav-title-history,
.nav-link-4 {
    display: flex;
    align-items: center;
}

.nav-link-3 {
    text-align: left;
    margin-left: 40px;
}

.nav-link-4 {
    text-align: right;
    margin-right: 40px;
}

.nav-title-history {
    text-align: center;
    margin: 15px 0 15px 0;
}

.first-row-1st-col-history {
    grid-column: span 3;
    grid-row: 2;
    margin: 90px 10px 0 40px;
}

.first-row-2nd-col-history {
    grid-column: span 4 / span 6;
    grid-row: 2;
    justify-self: center;
    align-self: center;  
    margin-top: 80px; 
}

.founder-img {
    width: 200px;
}

.second-row-1st-col-history {
    grid-column: span 3;
    grid-row: 3;
    margin: 30px 10px 0 40px;
}

.second-row-2nd-col-history {
    grid-column: span 3 / span 6;
    grid-row: 3;
    margin: 30px 40px 0 10px
}

.third-row-1st-col-history {
    grid-column: span 3;
    grid-row: 4;
    margin: 30px 10px 0 40px;
}

.third-row-2nd-col-history {
    grid-column: span 4 / span 6;
    grid-row: 4;
    justify-self: center;
    align-self: center; 
}

.earth-img {
    width: 200px;
}

.fourth-row-1st-col-history {
    grid-column: span 3;
    grid-row: 5;
    margin: 30px 10px 30px 40px;
}

.fourth-row-2nd-col-history {
    grid-column: span 3 / span 6;
    grid-row: 5;
    margin: 30px 40px 30px 10px
}


#footer-history {
    grid-row: 6;
}

/*
Blog page
*/

.user-img-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    position: relative;
    text-align: center;
    margin: 90px 0 0px 0;
}

.user-img-2 {
    grid-column: span 2 / span 4;
    grid-row: 2;
    display: grid;
    position: relative;
    text-align: center;
    margin: 90px 0 0 0;
}

.user-img-3 {
    grid-column: span 4 / span 6;
    grid-row: 2;
    display: grid;
    position: relative;
    text-align: center;
    margin: 90px 0 0 0;
}

.user-pic-1 {
    grid-column: span 2;
    grid-row: 3;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-2 {
    grid-column: span 2 / span 4;
    grid-row: 3;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-3 {
    grid-column: span 4 / span 6;
    grid-row: 3;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-img-4 {
    grid-column: span 2;
    grid-row: 4;
    display: grid;
    position: relative;
    text-align: center;
}

.user-img-5 {
    grid-column: span 2 / span 4;
    grid-row: 4;
    display: grid;
    position: relative;
    text-align: center;
}

.user-img-6 {
    grid-column: span 4 / span 6;
    grid-row: 4;
    display: grid;
    position: relative;
    text-align: center;
}

.user-pic-4 {
    grid-column: span 2;
    grid-row: 5;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-5 {
    grid-column: span 2 / span 4;
    grid-row: 5;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-6 {
    grid-column: span 4 / span 6;
    grid-row: 5;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-img-7 {
    grid-column: span 2;
    grid-row: 6;
    display: grid;
    position: relative;
    text-align: center;
}

.user-img-8 {
    grid-column: span 2 / span 4;
    grid-row: 6;
    display: grid;
    position: relative;
    text-align: center;
}

.user-img-9 {
    grid-column: span 4 / span 6;
    grid-row: 6;
    display: grid;
    position: relative;
    text-align: center;
}

.user-pic-7 {
    grid-column: span 2;
    grid-row: 7;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-8 {
    grid-column: span 2 / span 4;
    grid-row: 7;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

.user-pic-9 {
    grid-column: span 4 / span 6;
    grid-row: 7;
    display: flex;
    background-color: #27ae60;
    border: 5px #27ae60 solid;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}

#footer-blog {
    grid-row: 8;
}

.profile-pic {
    width: 40px;
}

.user-name {
    display: flex;
    align-self: center;
    font-size: 1.4rem;
    margin-left: 10px;
    color: #000000;
}